# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE / system files
.idea/
.vscode/
.DS_Store
__MACOSX/

# Local database
data.db
*.db

# Secrets and credentials
settings.py
*.json
client_secrets.json
credentials.json
service_account.json

# Local photos / generated data
local_photo/*
drive_photo/*

# Keep folder structure
!local_photo/.gitkeep
!drive_photo/.gitkeep
